.wp-block-wcdet-call-to-action {
  .button {
    margin-bottom: 1.5em;
    svg {
      vertical-align: middle;
    }
  }
  .blocks-rich-text {
    margin-top: 40px;
  }
  .blocks-rich-text p {
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
  }
}
